.productdetails{
    background-color: rgb(231, 231, 231);
    height: max-content;
    padding: 1rem;
    width: 400px;
    margin-left: 2rem;
    border-radius: 10px;
    display: grid;

    justify-content: center;
    text-align: justify;
    align-items: center;
}
.productdetails img{
    width: 100%;

    border-radius: 10px;
}